%table{:class => 'table table-bordered'}
  %tr
    %th
      Name
    %th
      &nbsp;
  - @keychains.each do |keychain|
    %tr
      %td
        = link_to keychain.name, keychain_path(keychain)
      %td
        = link_to 'Destroy', keychain_path(keychain), :method => :delete, :confirm => "Are you sure?"
          
